.nodeHeadBox {
    background-color: #f8f8f8;
    border: 1px solid lightgrey;
    vertical-align: top;
    padding: 10px;
    margin-bottom: 10px;
}

.nodeHeadTable {
    width: 100%;
}

.nodeImgCol {
    width: 60px;
}

.nodeHeadDivider {
    width: 15px;
}

.nodeHeadBody {
    width: auto;
}

.nodeHeadNavLink {
    color: grey;
}

.nodeHeader {
    margin-top: 10px;
}

.nodeHeadNavDivider {
    margin: 0 5px 0 5px;
}

.nodeHeadInfo {
    width: 100px;
}

.nodeHeadImage {
    border-radius: 360px;
}

.allNodes {
    width: 100%;
}

.allNodeHead {
    background-color: #f8f8f8;
    padding: 10px;
}

.allNodeTitle {
    color: grey;
    font-weight: bold;
    font-size: large;
    margin: 0;
}

.nodeButton {
    background-color: white;
    margin: 10px;
}

.moreButton {
    box-shadow: none;
    outline: none;
}

.moreButton:focus {
    box-shadow: none;
    outline: none;
    border-color: #ccc;
    background-color: white;
}