.timeout_prompt {
    position: absolute;
    margin: auto;
    top: 50%;
    transform: translateY(-50%);
    padding: 0;
    width: 70%;
    left: 0;
    right: 0;
    z-index: 9999;
}

.timeout_update {
    margin: 0 10px 0 10px;
}

.timeout_progress {
    width: 100%;
}

.timeout_container {
    padding: 30px 50px 50px 50px;
}

.pageLoadingShade {
    position: fixed;
    width: 100%;
    background-color: white;
    z-index: 9998;
}