.backBox {
    position: fixed;
    bottom: 50px;
    right: 50px;
    background-color: rgba(160, 160, 160, 0.5);
    color: black;
    width: 30px;
    height: 30px;
    border-radius: 100px;
    text-align: center;
    cursor: pointer;
    z-index: 100000;

    opacity: 0;
    visibility: hidden;
    transition: opacity .2s linear, visibility .2s linear;
}

.backEle {
    font-size: 20px;
    font-weight: bolder;
    position: absolute;
    left: 0;
    right: 0;
    color: white;
    margin: auto;
    top: 50%;
    transform: translateY(-50%);
}

.show {
    opacity: .6 !important;
    visibility: visible !important;
}